{{define "form"}}
<!DOCTYPE html>
<html>
<head>
    {{template "form scripts"}}
</head>
<body>
<form method="post" name="todoForm">
        <input class="formVal" type="text" name="todoTitle" placeholder="Name That Thang"  />
        <input class="formVal" type="date" name="completedBy"  />
        <input class="formVal" type="text" name="todoId" value="" placeholder="Enter desired Id" />
        <input class="formVal" type="text" name="description" value="" placeholder="Describe it!" />
        <input class="formVal" type="hidden" name="complete" value="false" />
        <input type="submit" value="Submit" />
</form>
</body>
</html>
{{end}}
