{{define "todos"}}
    {{ range . }}
        <div>
            <h1>{{.Name}}</h1>
        </div>
        <div class="todo">
            <input name="todoName" type="hidden" value={{.Name}}>
            <input name="dueDate" type="date" value={{.Due}}>
            <label for="completeStatus">Complete?</label> 
            <input name="completeStatus" type="checkbox" value={{.Completed}}>
            <div name="todoId">{{.Id}}</div>
            <input name="description" value={{.Desc}}>
            <input name="saveButton" type="button" value="Save">
            <input name="deleteButton" type="button" value="Delete">
        </div>
    {{ end }}
{{end}}
