{{define "todos"}}
    {{ range . }}
        <div>
            <h1>{{.Name}}</h1>
        </div>
        <div>
            <div>{{.Due}}</div>
            <div id="completeStatus">{{.Completed}}</div>
            <input id="completeStatus" value={{.Completed}}>
            <input id="todoId" value={{.Id}}>
            <input id="description" value={{.Description}}>
            <div id="todoId">{{.Id}}</div>
            <div id="description">{{.Description}}</div>
            <input class="save_button" type="button" value="Save">
            <input class="delete_button" type="button" value="Complete">
        </div>
    {{ end }}
{{end}}
